[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[access "refs/*"]
	owner = group user/thewalker77
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/thewalker77
	label-Verified = -1..+1 group user/thewalker77
	push = group user/thewalker77
	read = group user/thewalker77
	rebase = group user/thewalker77
	removeReviewer = group user/thewalker77
	submit = group user/thewalker77
[access "refs/heads/*"]
	create = group user/thewalker77
	push = +force group user/thewalker77
	pushMerge = group user/thewalker77
	read = group user/thewalker77
[access "refs/tags/*"]
	push = group user/thewalker77
	push = +force group user/thewalker77
[project]
	description = Experimental dependently typed language
[receive]
	requireSignedOffBy = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
